@import "../../styles/vars.scss";

.Navbar {
	background-color: $dark-background;
	color: $light-color;
	text-align: center;
	&__logo {
		height: 50px;
		width: 50px;
		margin: 0 auto;
		padding-top: 20px;
		img {
			width: 100%;
			height: auto;
		}
	}
	&__item {
		padding-top: 15px;
	}
}
